* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  color: darkslategray;
}

.timer-bar {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: cadetblue;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.preset-box {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.preset {
  font-size: 3rem;
  background-color: linen;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border: 0.1rem solid darkslategray;
  border-radius: 50%;
  cursor: pointer;
}

.input-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  margin-right: 1.5rem;
}

.input-box input {
  width: 9rem;
  background-color: transparent;
  border: none;
  font-size: 5rem;
  border-bottom: 0.1rem solid darkslategray;
  text-align: center;
  color: darkslategray;
}

.input-box span {
  color: gray;
  font-size: 5rem;
}

.btn-box {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 9rem;
}

.btn-box button {
  font-size: 2rem;
  cursor: pointer;
  background-color: linen;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  color: darkslategray;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timer-box {
  font-size: 9rem;
  color: lightsalmon;
  margin-top: 1rem;
}

.disabled {
  cursor: not-allowed;
}
